/* 
    Document   : stile
    Created on : 28-set-2013, 17.01.18
    Author     : sitodskij
    Description:
        Purpose of the stylesheet follows.
*/

.background1 { 
    -fx-background-color: #1d1d1d;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.7, 0.5, 1.0); 
}

.ipad-dark-grey {
    -fx-background-color: 
        linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#9d9e9d 0%, #6b6a6b 20%, #343534 80%, #242424 100%),
        linear-gradient(#8a8a8a 0%, #6b6a6b 20%, #343534 80%, #262626 100%),
        linear-gradient(#777777 0%, #606060 50%, #505250 51%, #2a2b2a 100%);
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
    -fx-padding: 10 20 10 20;
    -fx-font-family: "Helvetica";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
.ipad-dark-grey Text {
    -fx-effect: dropshadow( one-pass-box , black , 0, 0.0 , 0 , -1 );
}

.label1 {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.ttip{

     -fx-background-radius: 0 0 0 0;
     -fx-background-color:  linear-gradient(greenyellow   , limegreen );

}