body {
    background-color:silver;
    text-align: center;
}
h1 {
    color: blue;
    text-align: center;
    text-decoration: underline
}

h2 {
    color: blue;
    text-align: center;
    text-decoration: blink;
}

h3 {
    color: navy;
    font: serif
}

err_text{
	color: background;
	font: bolder;
}

testoquery{
	color: blue;
    text-decoration: blink;
}

testoheader{
	color: navy;
    text-decoration: blink;
}